@import "tailwindcss";

@theme {
    --color-bg-main: #1d1d1d;
    --color-bg-offset: #2e2e2e;
    --color-text-title: #ffc000;
    --color-text-subtitle: #ffe99b;
    --color-text-body: #fff;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("./BebasNeue-Regular.ttf");
}

html::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

body {
    font-size: 12.0pt;
    font-family: "Bebas Neue";
    font-weight: 400;
    color: rgb(28, 28, 28);
    background-color: #1d1d1d;
}


