---
import Layout from '../layouts/Layout.astro'
import CommitteeCard from '../components/CommitteeCard.astro';
import { getCollection } from "astro:content";
let committees = await getCollection("committees")

let committeeYear;
let date =  new Date();

if (date.getMonth() >= 8) { // This is '8' for September, as JS Date starts at '0' for January
  committeeYear = date.getFullYear();
} else {
  committeeYear = date.getFullYear() - 1;
}
committeeYear = String(committeeYear);
if ((committees.filter((committee) => committee.id.startsWith(committeeYear))).length > 0) {
  committees = committees.filter((committee) => committee.id.startsWith(committeeYear));
} else {
  committees = committees.filter((committee) => committee.id.startsWith(committeeYear));
}

committees.sort((a, b) => a.data.importance - b.data.importance);

---

<Layout title="Committee" subtitle={"Your " + committeeYear + " Committee"}>
  <div class="flex justify-center flex-col items-center">
    {committees.length > 0 ? 
      committees.map(committeeMember => (<CommitteeCard committeeMember={committeeMember} />)) 
      : 
      (
        <div class="text-text-body text-3xl text-center">
          <p>No Committee Yet!</p>
          <p>Check Back Soon!</p>
        </div>
      )
    }
  </div>
</Layout>