---
import ContactForm from '../components/ContactForm.astro'
import Layout from '../layouts/Layout.astro'
---
<Layout title="Contact Us">
    <p class="text-center text-text-body text-2xl mb-5">If you wish to get in contact us please use the form below!<br/>We'll try and get back to you as soon as possible</p>
    <ContactForm formURL={"https://docs.google.com/forms/d/e/1FAIpQLSfSCsXwVlXKXHS9KF06ggmwnzbA2xX8Q64kFchHCaNEXMx0vA/formResponse?embedded=true"} />
</Layout>