---
import EsportCard from '../components/EsportCard.astro';
import Layout from '../layouts/Layout.astro'
import { getCollection } from "astro:content";
let esports = await getCollection("esports")
---
<Layout title="Esports">
    <div class="flex w-full h-full justify-center">
        <div class="p-10 grid grid-cols-3 max-lg:grid-cols-1 justify-items-center gap-5 w-5xl">
            {esports.map(esport => (
                <EsportCard esport={esport} />
            ))}
        </div>
    </div>
</Layout>