---
import Layout from '../layouts/Layout.astro'
import EventsDisplay from '../components/events/EventsDisplay'

const macroURL = "https://script.google.com/macros/s/AKfycbwindGteBV3TFpM0rdudMSABT5ldASOky7OGQ2GDSqoq4B7BkEhOybgO79OlZGdbEOKdQ/exec"
---
<Layout title="Events">
    <div class="flex justify-center">
        <EventsDisplay macroURL={macroURL} client:load />
    </div>
</Layout>