---
import Layout from '../layouts/Layout.astro'
import EventsDisplay from '../components/events/EventsDisplay'

const macroURL = "https://script.google.com/macros/s/AKfycbz-IzHvecbMXiHzj4TTQ0fpzVc0fMtrGHzo4KhEKVxQtWd04PFPoBfeOO64xpSnh-LZ_g/exec"
---
<Layout title="Events">
    <div class="flex justify-center">
        <EventsDisplay macroURL={macroURL} client:load />
    </div>
</Layout>