---
import Layout from '../layouts/Layout.astro'
import EventsDisplay from '../components/events/EventsDisplay'

const macroURL = "https://script.google.com/macros/s/AKfycbyaqynLBSEosMR0tpBoqnpFaaesVHR_Lp6D8R0oNjfH3kJFjYnZNYn9XAmTMXMYhv11/exec"
---
<Layout title="Events">
    <div class="flex justify-center">
        <EventsDisplay macroURL={macroURL} client:load />
    </div>
</Layout>