---
let currentDate = new Date()
const days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
---
<div class="text-white w-4/5">
    <div id="calendarControls" class="text-4xl flex justify-between">
        <button onclick="prevMonth()" class="cursor-pointer">&lt;</button>
        <p>{currentDate.toLocaleDateString('en-GB', { month: 'long', year: 'numeric' })}</p>
        <button onclick="nextMonth()" class="cursor-pointer">&gt;</button>
    </div>
    <div id="calendarBody" class="flex justify-between mt-5">
        {days.map(day => (
            <p>{day}</p>
        ))}
    </div>
</div>