---
const { formURL } = Astro.props;
---
<div class="text-text-body flex items-center justify-center">
    <form id="contactForm" class="flex flex-col w-3/5" action={formURL} method="post" target="hidden_iframe">
        <label class="text-xl">Enter your email</label>
        <input type="email" placeholder="Email" required name="entry.794382846" class="normal-case font-sans mb-5 border rounded-lg p-2" />

        <label class="text-xl">What are you contacting us about?</label>
        <select id="reason" class="text-text-body mb-5 border rounded-lg p-2 appearance-none w-full" required name="entry.68177860">
            <option value="" selected disabled hidden>Reason for Enquiry</option>
            <option value="Question">Question</option>
            <option value="Promotion">Promotion</option>
            <option value="Esports">Esports</option>
            <option value="Endorsements">Endorsements</option>
            <option value="Sponsorships">Sponsorships</option>
            <option value="Other">Other</option>
        </select>

        <label class="text-xl">Please provide your message here:</label>
        <textarea id="enquiry" placeholder="Enquiry" required name="entry.104540012" class="normal-case font-sans mb-5 border rounded-lg p-2"></textarea>

        <button id="submit" type="submit" class="border p-2 rounded-2xl mt-5 hover:bg-text-body hover:text-bg-main active:text-gray-600 active:bg-bg-offset transition duration-200 cursor-pointer">Submit</button>
        <p id="thankYouMessage" class="text-green-500 text-center mt-2 hidden">Form submitted successfully. Thank you!</p>
    </form>
    <iframe name="hidden_iframe" style="display:none;"></iframe>
</div> 

<script>
    const form = document.getElementById("contactForm") as HTMLFormElement;
    const submit = document.getElementById("submit") as HTMLFormElement;
    const iframe = document.querySelector("iframe[name='hidden_iframe']") as HTMLIFrameElement;
    const thankYou = document.getElementById("thankYouMessage") as HTMLElement;

    iframe.addEventListener("load", () => {
    submit.classList.add("disabled", "text-gray-600", "bg-bg-offset");
    submit.classList.remove("hover:bg-text-body", "hover:text-bg-main");
    thankYou.classList.remove("hidden");
    form.reset();
    setTimeout(() => {
        thankYou.classList.add("hidden");
        submit.classList.remove("disabled", "text-gray-600", "bg-bg-offset");
        submit.classList.add("hover:bg-text-body", "hover:text-bg-main");
    }, 5000);
});
</script>

