---
import socialLinks from "../socialLinks"
const currentYear = new Date().getFullYear()

---
<footer class="flex w-full justify-center items-center bg-text-title mt-auto text-lg min-md:gap-2 min-md:text-xl text-bg-main">
    <a class="p-3 hover:text-text-title hover:bg-bg-main transition duration-150" href={socialLinks.instagram}>Instagram</a>
    <a class="p-3 hover:text-text-title hover:bg-bg-main transition duration-150" href={socialLinks.discord}>Discord</a>
    <a class="p-3 hover:text-text-title hover:bg-bg-main transition duration-150" href={socialLinks.twitter}>Twitter</a>
    <p class="p-3">SLUGSOC &copy; {currentYear}</p>
</footer>