---
const currentYear = new Date().getFullYear()

---
<footer class="flex w-full justify-center items-center bg-text-title mt-auto">
    <a class="p-3">Discord</a>
    <a class="p-3">Discord</a>
    <a class="p-3">Discord</a>
    <p class="p-3">SLUGSOC &copy; {currentYear}</p>
</footer>