---
import Image from "astro/components/Image.astro"
import LogoWhite from "../images/LogoWhite.png"
---

<nav class="fixed justify-between flex w-full bg-bg-main items-center">
    <a href="/" class="mr-auto pl-5 w-30"><Image src={LogoWhite} alt={"Logo for SLUGSOC"} /></a>
    <a href="/" class="text-text-body p-5">Home</a>
    <a href="#" class="text-text-body p-5">Events</a>
    <a href="#" class="text-text-body p-5">Esports</a>
    <a href="#" class="text-text-body p-5">Contact</a>
</nav>