---
import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'
import Title from '../components/Title.astro'

import '../styles/global.css' 

const { title, subtitle } = Astro.props
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/favicon.png" />
    <title>{title.toLowerCase() != "slugsoc" && title ? `${title} - ` : ''} SLUGSoc</title>
  </head>
  <body class="m-0 flex flex-col min-h-screen">
    <Navbar />
    <Title title={title} subtitle={subtitle} />
    <article class="grow mb-10">
      <slot />
    </article>
    <Footer />
  </body>
</html>